Node-red/Node-red 2.txt
[{"id":"47653ff6.cc428","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d0f71d94.739e","type":"mqtt in","z":"47653ff6.cc428","name":"","topic":"totopipi/devices/raws/up","qos":"2","broker":"db07685a.bcdfa8","x":224.52342987060547,"y":302.94139671325684,"wires":[["7478ac40.871464"]]},{"id":"3146d7f.8fc5228","type":"function","z":"47653ff6.cc428","name":"test","func":"var o; \nvar temp={}; \nvar hum={}; \no = msg.payload.payload_fields; \nhum.payload=o.humidity; \ntemp.payload=o.temperature;\nreturn o;","outputs":1,"noerr":0,"x":555.8867378234863,"y":319.73048973083496,"wires":[["66b25e8a.4ea7e","89fdcb0b.5d6a08","f68e601d.21edb"]]},{"id":"f68e601d.21edb","type":"ui_text","z":"47653ff6.cc428","group":"eb588b9b.2a72d8","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg}}","layout":"row-spread","x":736.8867015838623,"y":571.996096611023,"wires":[]},{"id":"89fdcb0b.5d6a08","type":"debug","z":"47653ff6.cc428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":816.8827972412109,"y":312.6914281845093,"wires":[]},{"id":"7478ac40.871464","type":"json","z":"47653ff6.cc428","name":"","property":"payload","action":"","pretty":false,"x":481.5078125,"y":218.87109375,"wires":[["3146d7f.8fc5228","7cfbd60b.79d5e8"]]},{"id":"7cfbd60b.79d5e8","type":"debug","z":"47653ff6.cc428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.payload_fields.humidity","x":822.89453125,"y":199.69140625,"wires":[]},{"id":"66b25e8a.4ea7e","type":"function","z":"47653ff6.cc428","name":"humidity ","func":"\nreturn msg.hum;","outputs":1,"noerr":0,"x":521.8984375,"y":444.73046875,"wires":[[]]},{"id":"fd5c6201.767b5","type":"mqtt out","z":"47653ff6.cc428","name":"","topic":"totopipi/devices/raws/down","qos":"","retain":"true","broker":"db07685a.bcdfa8","x":473.5078125,"y":571.878927230835,"wires":[]},{"id":"2ab998af.6f30a8","type":"inject","z":"47653ff6.cc428","name":"","topic":"totopipi/devices/raws/up","payload":"{\"port\":1,\"payload_raw\":\"QQ==\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.88671493530273,"y":568.9453344345093,"wires":[["fd5c6201.767b5","24a9077f.837bc8"]]},{"id":"24a9077f.837bc8","type":"debug","z":"47653ff6.cc428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210.8828125,"y":719.203125,"wires":[]},{"id":"25fccf4e.38302","type":"ui_button","z":"47653ff6.cc428","name":"","group":"eb588b9b.2a72d8","order":6,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"port\":1,\"payload_raw\":\"QQ==\"}","payloadType":"str","topic":"","x":55,"y":630.00390625,"wires":[["24a9077f.837bc8","fd5c6201.767b5"]]},{"id":"db07685a.bcdfa8","type":"mqtt-broker","z":"","name":"TTN","broker":"eu.thethings.network","port":"1883","clientid":"totopipi","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb588b9b.2a72d8","type":"ui_group","z":"","name":"test","tab":"efe170b0.5ad55","disp":true,"width":"6","collapse":false},{"id":"efe170b0.5ad55","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]