Node-red/Node-red 1.txt
[{"id":"178f862d.9f7c3a","type":"tab","label":"Humidity - Temperature","disabled":true,"info":""},{"id":"afd92215.ad17c","type":"serial in","z":"178f862d.9f7c3a","name":"/dev/tty/ACM0","serial":"14744df5.7751e2","x":150,"y":260,"wires":[["c3e9d7ed.139718","c7d7834c.6744b","9a5b2f61.0097b"]]},{"id":"9a5b2f61.0097b","type":"debug","z":"178f862d.9f7c3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":260,"wires":[]},{"id":"c3e9d7ed.139718","type":"function","z":"178f862d.9f7c3a","name":"preparation","func":"var o; \nvar temp={}; \nvar hum={}; \no = msg.payload.split(\";\"); \nhum.payload=o[0]; \ntemp.payload=o[1];\nreturn {hum, temp};\n","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["48c6f345.0a776c","2906cee2.3f2e32","44f044c6.36710c","10119549.439aeb"]]},{"id":"2906cee2.3f2e32","type":"ui_gauge","z":"178f862d.9f7c3a","name":"Température","group":"9093a4fb.22ec68","order":4,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"C","format":"{{msg.temp.payload}}","min":0,"max":"50","colors":["#1eb300","#e6cf00","#fb1d09"],"seg1":"","seg2":"","x":690,"y":180,"wires":[]},{"id":"48c6f345.0a776c","type":"ui_gauge","z":"178f862d.9f7c3a","name":"Humidité","group":"9093a4fb.22ec68","order":1,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"pH","format":"{{msg.hum.payload}}","min":0,"max":"100","colors":["#b30c00","#e6e600","#3aca3c"],"seg1":"","seg2":"","x":680,"y":240,"wires":[]},{"id":"c7d7834c.6744b","type":"function","z":"178f862d.9f7c3a","name":"prepareForDB","func":"var o; \nvar temp; \nvar hum;\no = msg.payload.split(\";\"); \nhum = parseInt(o[0]); \ntemp = parseInt(o[1]);\nmsg.topic = \"INSERT INTO sensors (`date`,`humidity`,`temperature`) VALUES(now(),'\"+hum+\"','\"+temp+\"')\";\nmsg.payload = [{ \"humidity\" : hum,  \"temperature\" : temp}]; \nreturn msg; ","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["d685bab3.529448"]]},{"id":"d685bab3.529448","type":"mysql","z":"178f862d.9f7c3a","mydb":"d6c1eaa4.75c208","name":"MySQL","x":660,"y":400,"wires":[[]]},{"id":"f0c85dc3.4410e","type":"ui_chart","z":"178f862d.9f7c3a","name":"","group":"9093a4fb.22ec68","order":5,"width":0,"height":0,"label":"Graphe Température","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":20,"wires":[[]]},{"id":"44f044c6.36710c","type":"function","z":"178f862d.9f7c3a","name":"filtre temp","func":"return msg.temp;","outputs":1,"noerr":0,"x":680,"y":120,"wires":[["f0c85dc3.4410e","555b731c.ff1a4c"]]},{"id":"10119549.439aeb","type":"function","z":"178f862d.9f7c3a","name":"filtre humidity","func":"\nreturn msg.hum;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["b0f151c8.70631"]]},{"id":"b0f151c8.70631","type":"ui_chart","z":"178f862d.9f7c3a","name":"","group":"9093a4fb.22ec68","order":2,"width":0,"height":0,"label":"Graphe Humidité","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":20,"wires":[[]]},{"id":"6b807597.56421c","type":"ui_button","z":"178f862d.9f7c3a","name":"Allumer moteur","group":"f856c17c.1101b","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"a","payloadType":"str","topic":"","x":960,"y":180,"wires":[["6ad150a8.a9c16","a0fb7f3f.418b2","1628c5b8.eef55a"]]},{"id":"555b731c.ff1a4c","type":"function","z":"178f862d.9f7c3a","name":"Fonction allumer moteur","func":"if (msg.payload > 30){\nmsg.payload = \"a\";\n    \nreturn msg;\n}","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["6ad150a8.a9c16","a0fb7f3f.418b2","1628c5b8.eef55a"]]},{"id":"6ad150a8.a9c16","type":"serial out","z":"178f862d.9f7c3a","name":"Moteur","serial":"378da232.fdaf8e","x":1220,"y":120,"wires":[]},{"id":"a0fb7f3f.418b2","type":"e-mail","z":"178f862d.9f7c3a","server":"smtp.gmail.com","port":"465","secure":true,"name":"elhpathe1992@gmail.com","dname":"","x":1250,"y":260,"wires":[]},{"id":"1628c5b8.eef55a","type":"debug","z":"178f862d.9f7c3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":40,"wires":[]},{"id":"14744df5.7751e2","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"9093a4fb.22ec68","type":"ui_group","z":"","name":"Tableau de bord","tab":"20b869df.a62276","disp":true,"width":"6","collapse":false},{"id":"d6c1eaa4.75c208","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"raws","tz":""},{"id":"f856c17c.1101b","type":"ui_group","z":"","name":"test","tab":"85cf6126.6f735","disp":true,"width":"6","collapse":false},{"id":"378da232.fdaf8e","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"20b869df.a62276","type":"ui_tab","z":"","name":"CERI Projet Annuel","icon":"dashboard","disabled":false,"hidden":false},{"id":"85cf6126.6f735","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]